body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #2e2e2e;
    height: 68px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: -10px;
    width: 71%;
}

.redes-sociais ul li{
    margin-left: 18px;
    display: inline-block;
    float: left;
    list-style: none;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.header-2 {
    background-color: #ffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;

}

.menu-urls {
    height: 102px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #88bb88;
    margin-left: 15px;
    height: 70px;
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;

}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input {
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 30px;
    padding: 5px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid #d6d6d6;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 50px;
    height: 65px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/seta2.png');
    top: 35%;
    left: 14%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 50px;
    height: 65px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/seta1.png');
    top: 35%;
    right: 14%;
}

.slick-list {
    width: 100%!important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 2px solid #ffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 630px;

}

li.slick-active button {
    background-color: rgb(29, 28, 28);
}

.slick-dots li {
    padding-left: 12px;
    display: inline-block;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque strong {
    color: #818181;
}

.texto-destaque h1{
    margin-top: 3em;
    text-transform: uppercase;
    color: #181818;
    font-size: 18px;
    font-family: 'Quantico', sans-serif;

}

.texto-destaque p {
    font-family: 'Quantico', sans-serif;
    color: #1b1b1b;
    font-size: 19px;
    
    
    
}

.col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    float: left;
    position: relative;
    border: 20px;
    margin-bottom: 35px;
}
.bloco-text {
    margin-top: 3em;
}

.footer h3 {
    text-align: left;
    font-family: 'Quantico', sans-serif;

}

.footer {
    background-image: url('../img/footer.png');
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-style: inherit;
    padding-top: 2em;
    padding: 2em;
    
}

.footer-2 {
    background-color: #201f1f;
    height: 80px;
    color: white;

}

.footer p {
    width: 90%;
    text-align: left;
    font-family: 'Quantico', sans-serif;

}

.footer-2 p {
    padding: 10px;
}

.clock {
    color: #898989!important;
}
.clock:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/localizacao.png');
    background-repeat: no-repeat;
    padding-left: 5px;
    
}

.local:before, .email:before, .telefone:before {
    content: '';
    width: 35px;
    height: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: -10px;
    
}

.local:before {
    background-image: url('../img/localizacao.png');
    height: 32px;
    width: 35px;
}

.email:before {
    background-image: url('../img/email.png');
    height: 32px;
    width: 35px;
}

.telefone:before {
    background-image: url('../img/call.png');
    height: 32px;
    width: 35px;
}

